{% extends "base.html" %}
{% load gravatar_url_tag %}
{% block content %}
    {% for discussion in discussions %}
    <div class="content-section">
        <h4>{{ discussion.title }}</h4>
        <div class="row justify-content-center">
            <div class="col">
            <img src="{{ discussion.owner.email|gravatar_url:26 }}" width="26" height="26" alt="author-avatar" class="rounded-circle" />
            <span>{{ discussion.owner.name }}</span>
            <span>on {{ discussion.created_time|date }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>{{ discussion.description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-sm btn-info" href="{% url 'discussion' discussion_id=discussion.id %}">
                    See details
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}
{% block actions %}
    <a class="btn btn-success" href="{% url 'new_discussion' %}">
        New discussion
    </a>
{% endblock %}