{% extends "users/base.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile_picture.url  }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.first_name }}</p>
          <p class="text-secondary">{{ user.email }}</p>
          <p class="text-secondary">{{ user.adress }}</p>
          <p class="text-secondary">{{ user.phone_number }}</p>
          <p class="text-secondary">{{ user.bio }}</p>
        </div>
      </div>
    </div>
{% endblock content %}