{% extends "base.html" %}
{% load gravatar_url_tag %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ friend.email|gravatar_url:100  }}">
        <div class="media-body">
          <h2 class="account-heading">{{ friend.username }}</h2>
          <p class="text-secondary">{{ friend.first_name }}</p>
{#          <p class="text-secondary">{{ user.email }}</p>#}
          <p class="text-secondary">{{ friend.adress }}</p>
          <p class="text-secondary">{{ friend.phone_number }}</p>
          <p class="text-secondary">{{ friend.bio }}</p>
        </div>
      </div>
    </div>

    <div class="content-section">
        <h2>Status</h2>
        {% for status in statuses %}
            <div class="content-section">
                <strong>{{ status.content }}</strong>
                <p>on {{ status.created_time|date }}</p>
                <a href="{% url 'status_comments' status_id=status.id %} ">
                    <button type="button" class="btn btn-info">Comments</button>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}