{% extends "base.html" %}
{% load gravatar_url_tag %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.email|gravatar_url:100 }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.first_name }}</p>
                <p class="text-secondary">{{ user.email }}</p>
                <p class="text-secondary">{{ user.adress }}</p>
                <p class="text-secondary">{{ user.phone_number }}</p>
                <p class="text-secondary">{{ user.bio }}</p>
            </div>
        </div>
        <a class="btn btn-default" href="{% url 'change_info' %} ">Change Your Information</a>
    </div>

    <div class="status-section">
        <h2>Status</h2>

        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ status_form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>

        {% for status in statuses %}
            <div class="content-section">
                <strong>{{ status.content }}</strong>
                <p>on {{ status.created_time|date }}</p>
                <a href="{% url 'status_comments' status_id=status.id %} ">
                    <button type="button" class="btn btn-info">Comments</button>
                </a>
                <a href="{% url 'delete_status' status_id=status.id %} ">
                    <button type="button" class="btn btn-danger">Delete This Status</button>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}

{% block content2 %}
    <h2> Friends </h2>
    {% for friend in friends %}
        <p id="friends">
            <a href="{% url 'friend_profile' id=friend.id %}">
                <p>
                    {{ friend.username }}
                    <img class="rounded-circle" src="{{ friend.email|gravatar_url:100}}" width="30" height="30">
                </p>

            </a>

            <a href="{% url 'delete_friend' id=friend.id %} ">
                        <button type="button" class="btn btn-warning">Delete</button>
            </a>
        </p>
    {% endfor %}

    <h2> Others </h2>
    {% for user in other_users %}
        {% if not user in friends %}
            <div class="content-section">
                <a href="{% url 'profile_with_id' id=user.id %}">
                    <p>
                        {{ user.username }}
                        <img class="rounded-circle" src="{{ friend.email|gravatar_url:100 }}" width="30" height="30">
                    </p>
                </a>
                {% if user.id in received_from_ids %} <!-- if the user has sent me a friend request -->
                    <a href="{% url 'accept_request' id=user.id %} "> <!-- I can accept the request -->
                        <button type="button" class="btn btn-primary">Accept</button>
                    </a>
                    <a href="{% url 'delete_request' id=user.id %} "> <!-- or I can ignore and delete the request -->
                        <button type="button" class="btn btn-warning">Ignore</button>
                    </a>
                {% else %} <!-- if the user has not sent me friend request -->
                    {% if user.id in sent_to_ids %} <!-- I have sent him a request -->
                        <a href="{% url 'cancel_request' id=user.id %} "> <!-- I can cancel the request -->
                            <button type="button" class="btn btn-danger">Cancel Friend Request</button>
                        </a>
                    {% else %} <!-- I have not yet sent him a equest -->
                        <a href="{% url 'send_request' id=user.id %} ">
                            <button type="button" class="btn btn-success">Send Friend Request</button>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock content2 %}